/Internship/symmetry_break/motor_objects/
/Internship/old_motor_objects/
/model_validation/unbiased_model/motor_objects/
/model_validation/unbiased_model2/motor_objects/

/Internship/single_motor_validation/motor_objects/
/motorgillespie/analysis/motor_objects/
/Internship/model_validation_code_testing/displot_setting_testing_20221114_190539_teamsize_km_symbreak1/
/Internship/model_validation_code_testing/single_run/motor_objects/
