/model_validation_code_testing/displot_setting_testing_20221114_190539_teamsize_km_symbreak1/
/model_validation_code_testing/single_run/motor_objects/
/end_report/external_force/motor_objects/
/end_report/optical_trap/motor_objects/
/end_report/single_motor_validation/motor_objects/
/end_report/symmetry_break/motor_objects/
/motorgillespie/analysis/motor_objects/
